{% extends 'first_app/base.html' %}

{% block title %}
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    <h1>Добро пожаловать ,{{ user.first_name }}</h1>


    <h3>Должность : {{ user.profile.worker_type }}</h3>
    <h3>Взято заданий : {{ user.profile.taked_tasks}}</h3>
    {% if user.profile.user_task_title %}
        {% for item in user.profile.user_task_title.all %}
        <div class="alert alert-success mt-3">
            <h3>{{ item.usr_title }}</h3>
            <p>{{ item.usr_task }}</p>
        </div>
        {% endfor %}
    {% else %}
        <h3>У вас нет записей</h3>
    {% endif %}






        <span>{{ err }}</span>
    </form>
    {% else %}
     <h2>Прожалуйста залогинтесь</h2>
    {% endif %}

{% endblock %}