{% extends 'first_app/base.html' %}

{% block title %}
{% endblock %}

{% block content %}
{% if messages %}
    {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>{{ message }}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
</ul>
{% endif %}

{% if user.is_authenticated %}
    <h1>Добро пожаловать ,{{ user_profile.first_name }}</h1>
    <h3>Должность : {{ user_profile.worker_type }}</h3>
    <h3>Взято заданий : {{ user_profile.related_profile.count }}</h3>
    {% for i in us_tasks %}
        <div class="alert alert-success mt-3">
            <h3>{{ i.u_title }}</h3>
            <p>{{ i.u_task }}</p>
            <button class="btn btn-outline-dark flex-shrink-0" type="button">
                <i class="bi-cart-fill me-1"></i>
                <a href="{% url 'delete_from_profile' i.id %}">Задание выполнено</a>
            </button>
        </div>
    {% endfor %}
    {% else %}
     <h2>Прожалуйста залогинтесь</h2>
{% endif %}

{% endblock %}