{% extends 'first_app/base.html' %}

{% block title %}
{% endblock %}

{% block content %}
<!--    {% if user.is_authenticated %}-->
    <h1>Добро пожаловать ,{{ owner.profile.first_name }}</h1>


    <h3>Должность : {{ user.profile.worker_type }}</h3>
    <h3>Взято заданий : {{ user.profile.taked_tasks_qty }}</h3>
    <form method ="post">
        {% csrf_token %}
    {% for item in user_profile.u_individual_task.all %}
        <div class="alert alert-success mt-3">

                <h3>{{ item.u_title }}</h3>
                <p>{{ item.u_task }}</p>

        </div>
    {% endfor %}
        <span>{{ err }}</span>
    </form>
    {% else %}
     <h2>Прожалуйста залогинтесь</h2>
<!--    {% endif %}-->

{% endblock %}