{% extends 'first_app/base.html'%}
{% load crispy_forms_tags %}

{% block content %}


    {% if work_card %}
        {% for i in work_card.all %}
            <h3>Имя : {{ i.first_name }}</h3>
            <h3>Фамилия : {{ i.second_name }}</h3>
        {% endfor %}
    {% else %}
        <form method="POST" action="{% url 'worker_card_add' %}" >
            {{ form|crispy}}<br>
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Добавить</button>
        </form>
    {% endif %}


{% endblock content %}